# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Gradle (Backend & AI Engine)
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Flutter (Frontend)
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.pub-cache/
frontend/.packages

# Logs
*.log
